@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .text-style{
     @apply   pointer-events-none whitespace-pre-wrap bg-gradient-to-b bg-clip-text font-semibold leading-none text-transparent from-white to-slate-700/50;
    };
}
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}
.cpu-path:hover {
  stroke: #FF008B;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #1D4ED8; /* Mavi */
    border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background-color: #F3F4F6; /* Gri */
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* body {
  background-image: url('./assets/Pattern.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100vw 100vh; /* Viewport'a göre tam boyut 
  background-attachment: fixed;
  position: relative;
} */

#root {
  min-height: 100vh;
  width: 100%;
  position: relative;
  z-index: 1;
}

/* Mobil cihazlar için ek optimizasyon */
@media screen and (max-width: 768px) {
  body {
    background-size: cover;
  }
}
.cpu-architecture {
  offset-anchor: 10px 0px;
  animation: animation-path;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.75, -0.01, 0, 0.99);
}

.cpu-line-1 {
  offset-path: path("M 10 20 h 79.5 q 5 0 5 5 v 30");
  animation-duration: 5s;
  animation-delay: 1s;
}

.cpu-line-2 {
  offset-path: path("M 180 10 h -69.7 q -5 0 -5 5 v 40");
  animation-delay: 6s;
  animation-duration: 2s;
}

.cpu-line-3 {
  offset-path: path("M 130 20 v 21.8 q 0 5 -5 5 h -25");
  animation-delay: 4s;
  animation-duration: 6s;
}

.cpu-line-4 {
  offset-path: path("M 170 80 v -21.8 q 0 -5 -5 -5 h -65");
  animation-delay: 3s;
  animation-duration: 3s;
}

.cpu-line-5 {
  offset-path: path(
    "M 135 65 h 15 q 5 0 5 5 v 10 q 0 5 -5 5 h -39.8 q -5 0 -5 -5 v -35"
  );
  animation-delay: 9s;
  animation-duration: 4s;
}

.cpu-line-6 {
  offset-path: path("M 94.8 95 v -46");
  animation-delay: 3s;
  animation-duration: 7s;
}

.cpu-line-7 {
  offset-path: path(
    "M 88 88 v -15 q 0 -5 -5 -5 h -10 q -5 0 -5 -5 v -5 q 0 -5 5 -5 h 28"
  );
  animation-delay: 4s;
  animation-duration: 4s;
}

.cpu-line-8 {
  offset-path: path("M 30 30 h 25 q 5 0 5 5 v 6.5 q 0 5 5 5 h 35");
  animation-delay: 3s;
  animation-duration: 3s;
}

@keyframes animation-path {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}

/* Dalgalı efekt için overlay */
/* body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 50% 50%, transparent, rgba(0, 0, 0, 0.9)),
              url("data:image/svg+xml,%3Csvg viewBox='0 0 1000 1000' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  opacity: 0.15;
  z-index: 1;
  pointer-events: none;
} */

/* Sürükleme sırasında metin seçimini engelle */
.cursor-grab {
  user-select: none;
  -webkit-user-select: none;
}

/* Webkit tabanlı tarayıcılarda kaydırma çubuğunu gizle */
.overflow-hidden::-webkit-scrollbar {
  display: none;
}
.bgimg{
  background-image: url(../public/Pattern.png);
  background-repeat: no-repeat;
  padding: 80p;
  background-size: cover;
  overflow: hidden;
}
@media only screen and (max-width: 600px) {
  .bgimg {
    background-image: url(../public/Pattern.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40%;
    overflow: hidden;
    padding: 0;
  }
}